.all_orders {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #002e34;
  border-radius: 5px;
  box-shadow: 0 0 10px #002e34;
  background-color: #ffffff;
  color: #002e34;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;

  .orders_table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;

    th,
    td {
      padding: 12px;
      text-align: center;
      border: 1px solid #ddd;
    }

    th {
      background-color: #002e34;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
    }

    td {
      font-size: 1rem;
      color: #002e34;
    }

    .order_status {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #d0d703;
      font-weight: 700;
    }

    input {
      width: 80%;
      padding: 6px;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      color: #002e34;
      outline: none;
    }

    button {
      width: 100px;
      height: 35px;
      border-radius: 5px;
      border: none;
      background-color: #09b231;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #ffffff;
        color: #002e34;
        border: 1px solid #002e34;
      }

      &:active {
        background-color: #002e34;
        color: #ffffff;
        border: 1px solid #ffffff;
      }
    }
  }

  @media only screen and (max-width: 905px) {
    .all_orders {
      width: 95%;
    }
  }

  @media only screen and (max-width: 766px) {
    .orders_table {
      font-size: 0.9rem;
    }
  }

  @media only screen and (max-width: 375px) {
    .orders_table {
      font-size: 0.8rem;
    }

    input {
      width: 100%;
    }

    button {
      width: 90px;
      height: 30px;
    }
  }
}
