.all_orders {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #002e34;
  border-radius: 5px;
  box-shadow: 0 0 10px #002e34;
  background-color: #ffffff;
  color: #002e34;
  font-family: "Roboto", sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #002e34;
  color: white;
}

td {
  vertical-align: middle;
}

.okButton,
.edit_btn,
.delete_btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s ease;
}

.okButton {
  background-color: #09b231;
  color: white;
}

.delete_btn {
  background-color: #ff0000;
  color: white;
}

.edit_btn {
  background-color: #fbff00;
  color: #002e34;
}

.okButton:hover,
.edit_btn:hover,
.delete_btn:hover {
  opacity: 0.8;
}
