.all_orders {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  color: #002e34;

  .product_table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      border: 1px solid #002e34;
      text-align: center;

      button {
        border: none;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
        transition: 0.3s ease;
      }
    }

    img {
      height: 100px;
      max-width: 200px;
    }
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input,
      textarea,
      button {
        padding: 8px;
        font-size: 16px;
      }

      button[type="submit"] {
        background-color: #09b231;
        color: white;
        border: none;
        cursor: pointer;
      }

      button[type="button"] {
        background-color: #ff0000;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }
}
